<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" required [(ngModel)]="email" name="email" #emailInput="ngModel">
      <div *ngIf="emailInput.invalid && emailInput.touched">Email is required</div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" required [(ngModel)]="password" name="password" #passwordInput="ngModel">
      <div *ngIf="passwordInput.invalid && passwordInput.touched">Password is required</div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>

<div *ngIf="loading" id="nb-global-spinner" class="spinner">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
</div>